.content{
    margin: 50px 100px 0px 100px;
}

.exo-menu{
    width: 100%;
    /* float: left; */
    list-style: none;
    position: relative;
    background: #445268;
    display: inline-block;
}


.exo-menu > li {	display: inline-block;}
.exo-menu > li > a{
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px #365670 dotted;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
}
.exo-menu > li > a.active,
.exo-menu > li > a:hover,
li.drop-down ul > li > a:hover{
    background: transparent;
    color: #bfc4cc;
}
.exo-menu i {
    float: left;
    font-size: 18px;
    margin-right: 6px;
    line-height: 20px !important;
}
li.drop-down,
.flyout-right,
.flyout-left{position:relative;}
li.drop-down:before {
    content: "\f103";
    color: #fff;
    font-family: FontAwesome;
    font-style: normal;
    display: inline;
    position: absolute;
    right: 6px;
    top: 20px;
    font-size: 14px;
}
li.drop-down>ul{
    left: 0px;
    min-width: 230px;

}
.drop-down-ul{display:none;}
.flyout-right>ul,
.flyout-left>ul{
    top: 0;
    min-width: 230px;
    display: none;
    border-left: 1px solid #365670;
}

li.drop-down>ul>li>a,
.flyout-right ul>li>a ,
.flyout-left ul>li>a {
    color: #000;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #fff;
    border-bottom: 1px dotted #fff;
    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear;
}
.flyout-right ul>li>a ,
.flyout-left ul>li>a {
    border-bottom: 1px dotted #B8C7BC;
}


/*Flyout Mega*/
.flyout-mega-wrap {
    top: 0;
    right: 0;
    left: 100%;
    width: 100%;
    display:none;
    height: 100%;
    padding: 15px;
    min-width: 742px;

}
h4.row.mega-title {
    color:#eee;
    margin-top: 0px;
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}
.flyout-mega ul > li > a {
    font-size: 90%;
    line-height: 25px;
    color: #fff;
    font-family: inherit;
}
.flyout-mega ul > li > a:hover,
.flyout-mega ul > li > a:active,
.flyout-mega ul > li > a:focus{
    text-decoration: none;
    background-color: transparent !important;
    color: #ccc !important
}
/*mega menu*/

.mega-menu {
    left: 0;
    right: 0;
    padding: 15px;
    display:none;
    padding-top: 0;
    min-height: 100%;
    z-index: 100;
    box-shadow: 0 0 10px #ddd;

}
h4.row.mega-title {
    color: #000;
    margin-top: 0px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 15px;
    padding-bottom: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-top: 15px;
    background-color: #fff;
}
.mega-menu ul li a {
    line-height: 25px;
    font-size: 13px;
    display: block;
    font-weight: 400;
}
ul.stander li a {
    padding: 3px 0px;
}

ul.description li {
    padding-bottom: 12px;
    line-height: 8px;
}

ul.description li span {
    color: #ccc;
    font-size: 85%;
}
a.view-more{
    margin-top:15px;
    padding: 2px 10px !important;
    line-height: 21px !important;
    display: inline-block !important;
    color: #445268;
    background: #fff;
    border: 1px solid #445268;
    border-radius: 4px;
}
a.view-more:hover{
    color: #445268;
    background: #fff;
    border: 1px solid #445268;
    border-radius: 4px;
}
ul.icon-des li a i {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #009FE1;
    line-height: 35px !important;
}

ul.icon-des li {
    width: 100%;
    display: table;
    margin-bottom: 11px;
}
/*Blog DropDown*/
.Blog{
    left:0;
    display:none;
    color:#fefefe;
    padding-top:15px;
    background:#547787;
    padding-bottom:15px;
}
.Blog .blog-title{
    color:#fff;
    font-size:15px;
    text-transform:uppercase;

}
.Blog .blog-des{
    color:#ccc;
    font-size:90%;
    margin-top:15px;
}
.Blog a.view-more{
    margin-top:0px;
}
/*Images*/
.Images{
    left:0;
    width:100%;
    display:none;
    color:#fefefe;
    padding-top:15px;
    background:#547787;
    padding-bottom:15px;
}
.Images h4 {
    font-size: 15px;
    margin-top: 0px;
    text-transform: uppercase;
}
/*common*/
.flyout-right ul>li>a ,
.flyout-left ul>li>a,
.flyout-mega-wrap,
.mega-menu{
    background-color: #fff;
}

/*hover*/
.Blog:hover,
.Images:hover,
.mega-menu:hover,
.drop-down-ul:hover,
li.flyout-left>ul:hover,
li.flyout-right>ul:hover,
.flyout-mega-wrap:hover,
li.flyout-left a:hover +ul,
li.flyout-right a:hover +ul,
.blog-drop-down >a:hover+.Blog,
li.drop-down>a:hover +.drop-down-ul,
.images-drop-down>a:hover +.Images,
.mega-drop-down a:hover+.mega-menu,
li.flyout-mega>a:hover +.flyout-mega-wrap{
    display:block;
}
/*responsive*/
@media (min-width:767px){
    .exo-menu > li > a{
        display: block;
        padding: 8px 15px;
    }
    .mega-menu, .flyout-mega-wrap, .Images, .Blog,.flyout-right>ul,
    .flyout-left>ul, li.drop-down>ul{
        position:absolute;
    }
    .flyout-right>ul{
        left: 100%;
    }
    .flyout-left>ul{
        right: 100%;
    }
}
@media (max-width:767px){

    .nav2{
        padding: 0 !important;;
    }
    a.toggle-menu {
        margin-right: 15px;
    }

    .exo-menu {
        min-height: 58px;
        background-color: transparent;
        width: 100%;
    }

    .exo-menu > li > a{
        width:100% ;
        display:none ;

    }
    .exo-menu > li{
        width:100%;
    }
    .display.exo-menu > li > a{
        display:block ;
        padding: 20px 22px;
    }

    .mega-menu, .Images, .Blog,.flyout-right>ul,
    .flyout-left>ul, li.drop-down>ul{
        position:relative;
    }

}
a.toggle-menu{
    position: absolute;
    right: 0px;
    padding: 7px 12px!important;
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    top: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
a.toggle-menu i{
    margin-right:0;
}
.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}
.mul{
    margin-top:10px;
}
.nav2{
    padding: 0 30px;
    border-top: 1px solid #4e5867;
}
.mul li a:hover{
    color: #445268;
    font-weight: 600!important;
}
.mega-menu{
    z-index: 1;
}








/***new mega menu**/
.wsmenu{
    width: 100% !important;
    float: left !important;
}
@media only screen and (max-width: 991px) {
    .wsmenu{
        width: 280px !important;
    }
}
.searchf .input-group-addon{
    padding-left: 15px;
    padding-right: 15px;
}
.searchf .input-group-btn {
    width: 75px!important;
}
@media(max-width: 767px){
    .top-main .navbar-default{
        padding-top: 0px;
    }
    .navbar-brand{
        width: 100%;
    }
    .searchf .input-group-addon{
        padding-left: 6px;
        padding-right: 10px;
    }
}
@media(max-width: 991px){
    .mainLogo {
        margin: 0 auto;
        float: unset;
        max-width: 150px;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .navbar-brand{
        float: left;
        height: unset;
        padding: unset;
        font-size: unset;
        line-height: unset;
        width: 100%;
    }
}

.wsmobileheader{
    margin-top: 30px;
    /*padding-bottom: 30px;*/
    padding-left: 10px;
    padding-right: 10px;
}
.animated-arrow{
    position: static !important;
}
.wsmobileheader .navbar-form{
    margin-left: 0;
    border: 0;
    box-shadow: none!important;
    padding: 0;
}
.wsoffcanvasopener .wsoffcanvasopener-hidden{
    display: none;
}
.wsoffcanvasopener .animated-arrow{
    position: fixed !important;
    top: 0px !important;
}

.animated-arrow{
    padding: 0px 34px 18px 0px !important;
    margin: 0 !important;
    width: 37px;
    height: 37px;
    /*border: 2px solid #fff;
    border-radius: 50%;*/
}
#wsnavtoggle img{
    margin-top: -11px;
}
.animated-arrow span, .animated-arrow span::before, .animated-arrow span::after{
    height: 2px !important;
}
.animated-arrow span::before{
    margin-left: 0px;
}
.animated-arrow span{
    margin-left: 8px;
}
.animated-arrow span::after{
    margin-left: 0px;
}
.wsoffcanvasopener .animated-arrow{
    padding: 13px 35px 16px 0px !important;
    /*margin: 10px 0 0 15px !important;*/
    margin: 10px 0 0 0 !important;
}
.wsoffcanvasopener .animated-arrow span {
    margin-left: 6px !important;
    top: 8px !important;
}
.navIc-mini-cart{
    /*border: 2px solid #fff;
    border-radius: 50%;*/
    padding: 1px 6px;
    margin-top: 7px;
    font-size: 22px!important;
}

.wsmenu-list li:hover>.megamenu {
    z-index: 100000;
}

/*
.megamenu  .link-list:nth-child(2n+1){
    background: #f5f5f5!important;
}

.link-list li a {
    padding: 6px 0px;
    background: transparent !important;
}
.link-list{
    padding: 15px 20px;
}
.megamenu, .lnt-subcategory {
    padding:0;
}
.wsmenu-list .megamenu li a {
    background: transparent !important;
}*/
@media(min-width:768px){
    .megamenu{
        -webkit-box-shadow: 0 5px 13px -2px #c5c5c5;
        -moz-box-shadow: 0 5px 13px -2px #c5c5c5;
        box-shadow: 0 5px 13px -2px #c5c5c5;
    }
}
