.raterater-bg-layer{color:#fff;}
.raterater-hover-layer{color:#ff9900;}
.raterater-hover-layer.rated{color:#ff9900;}
.raterater-rating-layer{color:#ff9900;}
.raterater-outline-layer{color:#ff9900;}
.raterater-wrapper{overflow:visible;}
.raterater-layer,
.raterater-layer i{display:block;position:absolute;overflow:visible;top:0px;left:0px;}
.raterater-hover-layer{display:none;}
.raterater-hover-layer i,
.raterater-rating-layer i{width:0px;overflow:hidden;}