/* here you can put your own css to customize and override the theme */
.colorWhite{
    color: #fff!important;
}
.lh-49{
    line-height: 49px;
}
.pdlr-0{
    padding-left: 0!important;
    padding-right: 0!important;
}
.width-100{
    width:100%!important;
}
.mtb-5{
    margin-top:5px;
    margin-bottom: 5px;
}
.mt-3{
    margin-top:3px !important;
}
@media(max-width: 768px){
    .rpt .pdlr-0{
        padding-left:15px;
        padding-right:15px;
    }
}
.form-horizontal .form-group {
     margin-left: 0!important;
     margin-right: 0!important;
}
.br-35{
    border-radius: 35px!important;
}
.mt-7{
    margin-top: 7px;
}
.mtb-10{
    margin-top:10px;
    margin-bottom: 10px;
}
.smallFont{
    margin: 0;
    font-size: 11px;
}
.cp{
    cursor: pointer;
}
.bkgGrey{
    background: #ebebeb;
}
.mt-15{
    margin-top:15px;
}
.mtb-20{
    margin-top:20px;
    margin-bottom: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.pname{
    font-weight: 600;
    font-size: 18px;
}
.m-0{
    margin:0!important;
}
@media(max-width: 991px){
    #breakup .text-right{
        text-align: left!important;
    }
    #rateCard .text-right{
        text-align: left!important;
    }
}
.greenCheck{
    color: #2da564!important;
    background: transparent!important;
    box-shadow: none;
    border-left: none;
}
.bkgWhite{
    background: #fff;
}

.borderRightN{
    border-right:none!important;
}
.table td, .table th {
    font-size: 13px;
}
.form-control, output {
    font-size: 13px;
}
.btn {
    font-size: 13px;

}
.fw-b{
    font-weight: bold!important;
}
.card1{
    color: #fff;
    background: #32C5D2;
    padding-top:15px;
    padding-bottom: 15px;
}
.card2{
    color: #fff;
    background: #E6434E;
    padding-top:15px;
    padding-bottom: 15px;
}
.card3{
    color: #fff;
    background: #3598DC;
    padding-top:15px;
    padding-bottom: 15px;
}
.cardContent ul{
    list-style: none;
    padding-left:0!important;
    margin-bottom: 0!important;

}
.cardContent ul li{
    padding:10px 5px;
    text-align: center;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;

}
.advertiseCard{
    border:1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
}
.mb-0{
    margin-bottom:0!important;
}
.page-header.navbar .page-logo>.logo-image, .page-header.navbar .page-logo>a {
     float: none!important;
    margin: auto;
}
.fancybox-overlay{
	z-index: 10010 !important;
}